body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbarContainer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: calc(10px + 1vmin);
  color: white;
  width: 80%;
  max-width: 1075px;
  font-weight: 300;
  grid-gap: 10px;
  gap: 10px;
}

.logo {
  font-weight: 700;
  font-size: calc(20px + 2vmin);
}

.navItemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: calc(10px + 1.5vmin);
}

.singlePContainer {
  background-color: black;
  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top
    center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 0.8s ease-in-out;
  z-index: 10;
  color: white;
}

.singlePPicture {
  width: 300px;
}

.hide {
  top: -100vh;
}

.PlanetsList {
  display: flex;
  width: 90%;
  max-width: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(80px + 10%) auto 0px auto;
  gap: 50px;
  transition: all 0.8s ease-in-out;
  animation: fadein 2s;
}

.pContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.pPicture {
  border-radius: 50%;
  cursor: pointer;
}

.pPicture:hover {
  transform: scale(1.1);
}
